@page "/auth/reset-password"
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Nav

<h3>Nueva contraseña</h3>

<input @bind="Password" placeholder="Nueva contraseña" type="password" />
<button @onclick="Reset">Cambiar contraseña</button>

@if (Mensaje != null)
{
    <p>@Mensaje</p>
}

@code {
    [Parameter] public string? email { get; set; }
    [Parameter] public string? token { get; set; }

    private string Password = "";
    private string? Mensaje;

    private async Task Reset()
    {
        var user = await UserManager.FindByEmailAsync(email);

        if (user != null)
        {
            var result = await UserManager.ResetPasswordAsync(user, token, Password);

            if (result.Succeeded)
            {
                Mensaje = "Contraseña cambiada correctamente";
                return;
            }
        }

        Mensaje = "Error al cambiar contraseña";
    }
}